:root {
  --bg-dark: #121212;
  --card-bg: #1a1a1a;
  --text-gray: #a0a0a0;
  --accent-red: #b3211e;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #262627;
  background:
    linear-gradient(to right, rgba(2, 6, 23, 0.8), rgba(2, 6, 23, 0.6)),
    url("https://image.tmdb.org/t/p/original/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg")
      no-repeat center/cover;
}
/* wrapper */
.wrapper {
  width: 90vw;
  margin: auto;
}
/* icons */
i {
  margin-right: 8px;
}

.fa-star {
  color: gold;
}

.fa-heart {
  color: #e50914;
}
.fa-calendar {
  color: #e50914;
}
/* ========================================================== */
/* SEARCH BAR */
.search-bar {
  max-width: 850px;
  margin: 20px auto 0 auto;

  #search-form {
    display: flex;
    gap: 10px;
  }

  .search-input {
    flex: 1;
    padding: 14px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: inherit;
    background: var(--card-bg);
    color: white;
  }

  .search-input::placeholder {
    color: var(--text-gray);
  }

  .search-btn {
    padding: 0 22px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: var(--accent-red);
    color: white;
    font-size: 16px;

    i {
      margin-right: 0;
    }
  }
}

/* ========================================================== */

/* BANNER SECTION */
.banner {
  /* height: 60vh; */
  background: var(--card-bg);
  display: flex;
  padding: 30px;
  border-radius: 20px;
  max-width: 850px;
  font-family: "Inter", sans-serif;
  color: white;
  gap: 40px;
  margin: 20px auto 0 auto;
  /* max-width: 70vw; */

  /* POSTER CONTAINER */
  .poster-container {
    flex: 0 0 300px;

    /* POSTER */
    .poster {
      width: 100%;
      border-radius: 15px;
      border: 2px solid var(--accent-red);
      box-shadow: 0 0 15px rgba(179, 33, 30, 0.4);
    }

    /* SUGGEST MOVIE BUTTON */
    .btn-suggest {
      width: 100%;
      margin-top: 15px;
      padding: 12px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-family: inherit;
      font-size: 14px;
      background: var(--accent-red);
      color: white;
      transition: background 0.2s;
    }

    .btn-suggest:hover {
      background: #931a17;
    }
  }
  /* BANNER DETAILS */
  .banner-details {
    /* TAG */
    .featured-badge {
      color: #ff4d4d;
      background: rgba(179, 33, 30, 0.3);
      padding: 4px 12px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 15px;

      .fa-star {
        color: #e50914;
      }
    }
    /* BANNER TITLE */
    .banner-title {
      font-size: 3rem;
      margin: 0 0 15px 0;
    }

    /* META INFO */
    .meta-tags span {
      background: #2a2a2a;
      padding: 5px 15px;
      border-radius: 20px;
      font-size: 13px;
      margin-right: 10px;
      color: #ccc;
    }

    /* DECSRIPTION */
    .description {
      color: var(--text-gray);
      margin-top: 25px;
      line-height: 1.6;
      text-align: justify;
      font-size: 15px;
    }

    /* Horizontal line  */
    .divider {
      width: 100%;
      height: 1px;
      background-color: #333; /* Subdued gray */
    }
    /* STATS */
    .stats {
      display: flex;
      gap: 50px;
      margin-top: 20px;
      /* color: #cbd5f5; */

      /* STAT ITEM */
      .stat-item label {
        display: block;
        font-size: 12px;
        color: var(--text-gray);

        /* STAT ICON */
        .stat-item .fa {
          font-size: 30px;
        }
      }

      /* VERTICAL DIVIDER */
      .vertical-divider {
        width: 1px;
        height: 40px;
        background-color: #333; /* Subdued gray */
      }
    }
  }
}

